global
    log stdout format raw local0
    maxconn 2000
defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client  1m
    timeout server  1m

resolvers docker
    # Usar DNS interno de Docker
    nameserver dns 127.0.0.11:53
    # Optional: parse resolv.conf if necesario
    # parse-resolv-conf
    hold valid 30s

frontend neo4j_front
    bind *:7687
    default_backend neo4j_back

backend neo4j_back
    mode tcp
    balance roundrobin
    option tcp-check # Chequeo de salud
    option httpchk GET /db/fog2/cluster/writable HTTP/1.0
    http-check expect status 200
    server fog2-a fog2-a:7687 check port 7474 inter 5s resolvers docker
    server fog2-b fog2-b:7687 check port 7474 inter 5s resolvers docker
    server fog2-c fog2-c:7687 check port 7474 inter 5s resolvers docker
